.circle-container {
    position: relative;
    width: 650px;
    height: 650px;
    border-radius: 50%;
    background: conic-gradient(
      from 45deg,
    #d9e3db 0deg 90deg,
    #287041 90deg 180deg,
    #4EA770 180deg 270deg,
    #ABD49D 270deg 360deg
    );
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .center-photo {
    background-color: #F1EEE9;
    width: 230px;
    height: 230px;
    border-radius: 50%;
    position: relative;
    z-index: 2;
  }

   .truth-lie-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .truth-text {
    position: absolute;
    font-size: 1.3rem;
    line-height: 1.4;
    cursor: pointer;
    text-align: center;
    transition: transform 0.3s ease;
    color: #1e293b;
  } 

  /* text position */
   .truth-text.top {
    width: 200px;
    top: 8%;
    left: 50%;
    transform: translateX(-50%);
  } 

  .truth-text.right {
    width: 180px;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .truth-text.bottom {
    width: 210px;
    font-size: 1.2rem;
    bottom: 1%;
    left: 50%;
    color:#F1EEE9;
    transform: translateX(-50%);
  }
  
  .truth-text.left {
    width: 180px;
    left: 5%;
    top: 50%;
    color:#F1EEE9;
    transform: translateY(-50%);
  }

/* ---------- Pop Up Layer ---------- */
.popup-content.truth {
    padding: 2.5rem 6rem 5.5rem 6rem;
}

  .popup-content.truth p {
    color: #333;
    font-size: 1rem;
    line-height: 1.5;
  }
  
  .bio-video {
    width: 100%;
    max-height: 600px;
    margin-top: 1rem;
    border-radius: 10px;
  }
  
  /* ---------- Animate ---------- */
  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
  @keyframes scaleIn {
    from { transform: scale(0.95); opacity: 0.5; }
    to { transform: scale(1); opacity: 1; }
  }
  