  .truth-lie-title {
    text-align: center;
    font-size: 2.2rem;
    color: #22c55e;
    margin-bottom: 2rem;
    margin-top: -2rem;
  }
  
  .circle-container {
    position: relative;
    width: 700px;
    height: 700px;
    border-radius: 50%;
    background: conic-gradient(
      #c2edaf 0deg 90deg,
      #b7eaa2 90deg 180deg,
      #99e17a 180deg 270deg,
      #d6f3ca 270deg 360deg
    );
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .center-photo {
    background-color: #F1EEE9;
    width: 230px;
    height: 230px;
    border-radius: 50%;
    position: relative;
    z-index: 2;
    transform: rotate(12deg);
  }
  
  .truth-text {
    position: absolute;
    width: 170px;
    font-size: 1.1rem;
    line-height: 1.4;
    cursor: pointer;
    text-align: center;
    transition: transform 0.3s ease;
  }
  
/* number position */
  .truth-lie-number {
    position: absolute;
    font-size: 1.5rem;
    font-weight: 700;
    z-index: 3;
  }

  /* text position */
  .truth-text.top {
    top: 15%;
    left: 25%;
    transform: translateX(-50%);
  }
  .truth-lie-number.top {
    top: 15%;
    left: 47%;
    transform: translateX(-50%);
  }
  
  .truth-text.right {
    right: 15%;
    top: 25%;
    transform: translateY(-50%);
  }
  .truth-lie-number.right {
    top: 43%;
    right: 15%;
    transform: translateY(-50%);
  }
  
  .truth-text.bottom {
    bottom: 13%;
    left: 77%;
    transform: translateX(-50%);
  }
  .truth-lie-number.bottom {
    bottom: 15%;
    left: 53%;
    transform: translateX(-50%);
  }
  
  .truth-text.left {
    left: 15%;
    top: 69%;
    transform: translateY(-50%);
  }
  .truth-lie-number.left {
    top: 50%;
    left: 15%;
    transform: translateY(-50%);
  }

/* ---------- Pop Up Layer ---------- */
.popup-content.truth {
    padding: 2.5rem 6rem 5.5rem 6rem;
}

  .popup-content.truth p {
    color: #333;
    font-size: 1rem;
    line-height: 1.5;
  }
  
  .bio-video {
    width: 100%;
    max-height: 600px;
    margin-top: 1rem;
    border-radius: 10px;
  }
  
  /* ---------- Animate ---------- */
  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
  @keyframes scaleIn {
    from { transform: scale(0.95); opacity: 0.5; }
    to { transform: scale(1); opacity: 1; }
  }
  