.contact {
    padding: 60px 20%;
}

.contact-bio h2 {
    font-weight: 400;
}

.contact-details {
    display: flex;
    justify-content: flex-start;
    margin-top: 2rem;
    gap: 1rem
}

.contact-item:hover {
    background-color: #22c55e;
    border-radius: 15px;
    padding: 4px;
  }
  
  .contact-item a {
    color: #4b5563; 
    text-decoration: none;
  }

  .contact-resumes {
    display: flex;
    justify-content: space-evenly;
    padding: 0 20%;
  }
  
  .contact-resume-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #4b5563;
  }

  .contact-resume-item img {
    width: 60%;
  }
  .contact-resume-item img:hover {
    width: 61%;
  }

  @media (min-width: 319px) and (max-width: 480px) {
    .contact {
      padding: 10% 5%;
    }
    .contact-details {
      flex-direction: column;
      align-items: center;
    }
    .contact-resumes {
      flex-direction: column;
    }
  }
  @media (min-width: 481px) and (max-width: 1200px) {
    .contact {
      padding: 5%;
    }
    .contact-resumes {
      flex-direction: column;
    }
  }
@media (min-width: 1201px) and (max-width: 1600px) {
  .contact {
    padding: 5% 10%;
  }
}