.logo-display {
    width: 280px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #7acf98;
    border-radius: 1rem;
    padding: 1rem;
    box-sizing: border-box;
}
  
.logo-name {
    width: 160px;
    height: 120px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 12px;
    color: #7acf98;
}

.flashing-title {
  color: #4b5563;
  max-width: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: normal;
  animation: fadeInOut 3s ease-in-out infinite;
}

@keyframes fadeInOut {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
} 


