.experience {
    position: relative;
    padding-left: 2rem;
  }

.experience-title {
    text-align: center;
    margin-bottom: 35px;
    margin-top: 0;
}

.experience-item {
    position: relative;
    padding-left: 1.5rem;
}

.experience-item::before {
    content: "";
    position: absolute;
    left: -8px;
    top: 10px;
    width: 12px;
    height: 12px;
    background-color: #22c55e;
    border-radius: 50%;
  }

  /* grey line */
  .experience-item::after {
    content: "";
    position: absolute;
    left: -3px;
    top: 35px;
    width: 2px;
    height: calc(100% - 10px);
    background-color: #d9d9d9;
    z-index: 0;
  }
  .experience-item:last-child::after {
    display: none;
  }

.experience-line-one, .experience-line-two {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 1.2rem;
}

.experience-line-two {
    color: #22c55e;
}

@media (min-width: 319px) and (max-width: 480px) {
.experience-line-one, .experience-line-two {
    font-weight: 400;
    font-size: 1rem;
}
.experience-title {
    margin-bottom: 15px;
    margin-top: 15px;
}
}
@media (min-width: 481px) and (max-width: 1200px) {
    .experience-title {
        margin-bottom: 15px;
        margin-top: 15px;
    }
}