.bio-page {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 60px 10% 0 20%;
}

.bio-sidebar {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 200px;
  padding-left: 2rem;
  padding-top: 1.5rem;
  margin-right: -7rem;
  flex: 0.8
}

.bio-tab {
  background: none;
  border: none;
  color: #4b5563;
  font-size: 1.2rem;
  text-align: left;
  cursor: pointer;
  transition: all 0.3s ease;
}

.bio-tab:hover {
    color: #22c55e;
}

.bio-tab.active {
    color: #22c55e;
    font-weight: 600;
    border-left: 3px solid #22c55e;
    padding-left: 10px;
    font-size: 1.3rem;
}

.bio-content {
  flex: 2;
  font-size: 1rem;
  line-height: 1.8;
  opacity: 0;
  transform: translateY(-2px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.bio-content.active {
  opacity: 1;
  transform: translateY(0);
}
  
@media (min-width: 319px) and (max-width: 480px) {
  .bio-page {
    flex-direction: column;
    padding: 10% 5%;
    align-items: center;
  }
    .bio-title {
        margin-bottom: 15px;
        margin-top: 15px;
    }
    .bio-sidebar {
      justify-content: flex-start;
      padding-left: 0;
      padding-top: 1.5rem;
    }
}
@media (min-width: 481px) and (max-width: 1200px) {
  .bio-page {
    padding: 5%;
  }
  .biotitle {
      margin-bottom: 15px;
      margin-top: 15px;
  }
  .bio-sidebar {
    padding-left: 0rem;
    padding-top: 1.5rem
  }
}

@media (min-width: 1201px) and (max-width: 1600px) {
  .bio-page {
    padding: 5% 9%;
  }
}