.education-title {
    text-align: center;
    margin-bottom: 35px;
    margin-top: 0;
}

.education-item {
    display: flex;
    margin-bottom: 35px;
    justify-content: space-between;
}

.education-item img{
    width: 70px;
    margin-right: 20px;
    border-radius: 20%;
}

.education-detail {
    display: flex;
    justify-content: flex-start;
}

.education-col-one, .education-col-two {
    font-size: 1.2rem;
}

.education-major, .education-time {
    font-weight: 500;
}

.education-col-two {
    display: flex;
    flex-direction: column;
    align-items: end;
}

@media (min-width: 319px) and (max-width: 480px) {
    .education-title {
        margin-bottom: 15px;
        margin-top: 15px;
    }
    .education-item img{
        display: none;
    }
    .education-col-one, .education-col-two {
        font-size: 1rem;
    }
    .education-location {
        text-align: end;
    }
}
@media (min-width: 481px) and (max-width: 1200px) {
    .education-title {
        margin-bottom: 15px;
        margin-top: 15px;
    }
}