.skills-title {
    margin-bottom: 35px;
    text-align: center;
    padding: 0;
    margin-top: 0;
}

.skills-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.skill-item {
    flex: 1 1 calc(15%);
    font-size: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 1rem 1rem 0;
}

.skill-item p {
    font-size: 20px;
    margin-top: 0;
}

@media (min-width: 319px) and (max-width: 480px) {
    .skills-title {
        margin-bottom: 15px;
        margin-top: 15px;
    }
    .skill-item {
        margin: 0 1rem 0.5rem 0;
        font-size: 40px;
    }
}
@media (min-width: 481px) and (max-width: 1200px) {
    .skills-title {
        margin-bottom: 15px;
        margin-top: 15px;
    }
    .skills-grid {
        margin-top: 2rem;
    }
}