.skills-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
  
.skills-category {
  width: 100%;
  padding: 0 2.5rem;
}

  .skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 1rem;
    justify-items: center;
  }

  .skills-title {
  font-size: 1.4rem;
  font-weight: 600;
  color: #22c55e;
  text-align: left;
  margin-bottom: 1.5rem;
  padding-left: 10px;
  letter-spacing: 0.5px;
  }
  
  .skill-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
    padding: 0rem;
    border-radius: 12px;
    transition: all 0.3s ease;
    font-size: 60px; 
  }

  .skill-item p {
    text-align: left;
    font-size: 17px;
    font-weight: 500;
    margin-top: 0.1rem;
    color: #333;
  }
  
  .skill-item.soft p {
    margin-left: 10%;
    font-size: 21px;
  }
  
  .skill-item:hover, .skill-item.soft p:hover {
    transform: translateY(-4px);
    color: #22c55e;
  }

  @media (min-width: 319px) and (max-width: 480px) {
    .skills-grid {
      grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
    }
  
    .skill-item {
      font-size: 40px;
      padding: 0.5rem;
    }
  
    .skill-item p {
      font-size: 16px;
    }
  }
  
  @media (min-width: 481px) and (max-width: 1200px) {
    .skills-grid {
      grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
    }
  }