nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20%;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 60px;
    border-radius: 20px;
    padding: 8px;
}

.nav-links a {
    color: #4b5563;
    text-decoration: none;
    font-size: 1.5rem;
}

.nav-links a:hover, .nav-links a.active {
    background-color: #7acf98;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    padding: 5px;
    border-radius: 15px;
}

.logo-title {
    margin-top: 10px;
}

@media (min-width: 319px) and (max-width: 480px) {
    nav {
        flex-direction: column;
    }
    .nav-links {
        gap: 10px;
        margin: 15px 0;
    }
    .logo-title {
        order: 2;
      }
  }