nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20%;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 60px;
    border-radius: 20px;
    padding: 8px;
}

.nav-links a {
    color: #4b5563;
    text-decoration: none;
    font-size: 1.5rem;
    transition: color 0.3s ease, transform 0.3s ease;
    padding: 0.4rem;
}

.nav-links a:hover {
    background-color: #22c55e;
    transform: translateY(-2px);
    border-radius: 15px;
}

.nav-links a.active {
    background-color: #22c55e;
    border-radius: 15px;
}

.logo-title {
    margin-top: 10px;
}

@media (min-width: 319px) and (max-width: 480px) {
    nav {
        flex-direction: column;
    }
    .nav-links {
        gap: 5px;
        margin: 10px 0;
    }
    .logo-title {
        order: 2;
    }
  }

  @media (min-width: 481px) and (max-width: 1200px) {
    nav {
        padding: 0 5%;
    }
    .nav-links {
        gap: 12px;
        margin: 20px;
    }
  }
  @media (min-width: 1201px) and (max-width: 1600px) {
    nav {
        padding: 0 10%;
    }
    .nav-links {
        gap: 60px;
    }
  }